.home-button{
  width: 500px;
  height: 100px;
  margin: 30px;
  padding: 20px;
  font-weight: bolder;
}


.welcome-msg{
  margin-top: 30px;
  margin-bottom: 50px;
  color:chartreuse;
  padding: 20px;
  width: 600px;
  border-radius: 10%;

}


.home-block{
  background: #000;
  width:fit-content;
  opacity: 90%;
  border-radius: 20px;
}