.home-button{
  width: 500px;
  height: 100px;
  margin: 30px;
  padding: 20px;
  font-weight: bolder;
}


.welcome-msg{
  margin-top: 30px;
  margin-bottom: 50px;
  color:chartreuse;
  padding: 20px;
  width: 600px;
  border-radius: 10%;

}


.home-block{
  background: #000;
  width:fit-content;
  opacity: 90%;
  border-radius: 20px;
}


.admin-home-block{
  background: #000;
  width:fit-content;
  opacity: 90%;
  border-radius: 20px;
  margin-top: 40px;
}

.admin-home-button{
  height: 50px;
  width: 300px;
  margin: 20px;
}



.table-block{
  background-color: #000;
  color: greenyellow;
  margin: 40px;
  width:fit-content;
  padding: 40px;
  border-radius: 10px;
  opacity: 90%;
  float: left;
  
}

/*
.table-row{
  display:flex; 
  flex-direction: row;
}*/